<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>October Challenge</title>
	<link rel="icon" href="favicon.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<!-- Navbar -->
	<nav class="nav-extended">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo" style="margin-left: 10px"><i class="large material-icons">local_drink</i></a>
			<ul id="nav-mobile" class="right">
				<li><a href="/auth/logout">Logi välja</a></li>
			</ul>
		</div>
		<div class="nav-content">
			<ul class="tabs tabs-transparent">
				<li class="tab"><a class="active" href="#account">Sinu punktid</a></li>
				${userParties.map(party => `<li class="tab"><a href="#${party.id}">${party.partyName}</a></li>
				`).join('')}
				<li class="tab"><a href="#addParty">Lisa tabel</a></li>
			</ul>
		</div>
	</nav>


	<!-- Account tab -->
	<div id="account" class="col s12">
		<div class="container">
			<div class="row">
				<h1>Tere ${name}</h1>
			</div>

			<!-- Add points -->
			<div class="row">
				<div class="input-field col s4">
					<select id="item">
						${itemList.map(item => `<option value="${item}">${item}</option>`).join('')}
					</select>
					<label>Vali oma saavutus</label>
				</div>
				<div class="input-field col s4 m2">
					<input placeholder="Kogus" id="quantity" type="number">
				</div>
				<div class="input-field col s4 m2">
					<button class="btn waves-effect waves-light" type="button" onclick="postScore()" name="action">Add
						<i class="material-icons left">add</i>
					</button>
				</div>
			</div>

			<!-- Your score -->
			<div class="row">
				<ul class="collection with-header">
					<li class="collection-header">
						<div>
							<span class="badge valign-wrapper" style="font-size: 20px">${scoreTotal}<i
									class="material-icons">grade</i></span>
							<h4>Sinu saavutused</h4>
						</div>
					</li>
					${scores.map(score => `
					<li class="collection-item">
						<div onclick="onlongtouch('omega')"><span class="badge">${score.timestamp}</span>${score.item}
							<small>(${score.quantity})</small></div>
					</li>
					`).join('')}
				</ul>
			</div>

		</div>
	</div>

	<!-- Add party page -->
	<div id="addParty" class="col s12">
		<div class="container">
			<h4>Lisa uus tabel</h4>
			<div class="row">
				<div class="col s12">
					<div class="row">
						<div class="input-field col s5">
							<i class="material-icons prefix">search</i>
							<input type="text" id="newPartyName" class="autocomplete" name="newPartyName">
							<label for="newPartyName">Tabeli nimi</label>
						</div>
						<div class="input-field col s4">
							<input type="text" id="newPartyPassword" name="newPartyPassword">
							<label for="newPartyPassword">Kood</label>
						</div>
						<div class="input-field col s3 m2">
							<a href="#!" class="waves-effect waves-green btn" onclick="addParty()">Lisa</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	${userParties.map(party => `
	<!-- Party tab -->
	<div id="${party.id}" class="col s12">
		<div class="container">
			<div class="row">
				<h1>${party.partyName}</h1>
			</div>
			<div class="row">
				<ul class="collection with-header">
					<li class="collection-header">
						<div>
							<h4>Edetabel</h4>
						</div>
					</li>
					${party.members.map(member => `
					<li class="collection-item">
						<div><span class="badge">${member.scoreTotal}</span>${member.name}</div>
					</li>
					`).join('')}
				</ul>
			</div>

		</div>
	</div>
	`).join('')}


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">
	const autorun = async () => {
		let partyList = [], data = {};
		M.AutoInit();
		window.addEventListener('touchstart', touchstart, false);
		window.addEventListener('touchend', touchend, false);

		partyList = await getPartyList();
		await partyList.forEach(party => data[party.partyName] = null);
		M.Autocomplete.init(document.querySelectorAll('.autocomplete'), { data });
	}

	if (document.addEventListener) document.addEventListener('DOMContentLoaded', autorun, false);
	else if (document.attachEvent) document.attachEvent('onreadystatechange', autorun);
	else window.onload = autorun;
</script>

</html>
